html
  font-family: "helvetica neue", sans-serif
.button
  text-decoration: none
  display: inline-block
  padding: .5em 1em
  color: white
  background-color: darkgreen
  border-radius: 1em

#new-list-name
  display: block
  font-size: 1em
  padding: .5em 1em
  margin-top: .75em